@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sofadi+One&display=swap');
*{
    margin:0;
    padding:0;
}
nav{
    background-color: rgb(39, 16, 60);
    color: white;
    height: 65px;
    font-size: 27px;
    display: flex;
   align-items: center;
   padding-left: 12px;
   font-family: Roboto;
}
nav ul{
    list-style-type: none;
}

.gameContainer{
    
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    font-family: Roboto;
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: rgb(178, 133, 219);
}
.gameinfo{
    font-size:25px;
    padding:0 34px;
    font-family: Sofadi One;
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}

#reset{
    margin: 0 20px;
    padding:6px 14px;
    background:rgb(108, 61, 153);
    border-radius: 6px;
    cursor: pointer;
}

@media screen and (max-width:800px){
    .gameContainer{
        flex-wrap: wrap;
    }


    .gameinfo{
        margin-top: 35px;
    }

    .gameinfo h1{
        font-size: 1.5rem;
    }
    .container{
        grid-template-columns: repeat(3,20vw);
        grid-template-rows: repeat(3,20vw);

    }
    .gameinfo div{
        margin-top: 30px;
       

    }
    #reset{
        margin-left: 20px;
    }

    
}